@if (product) {
    <div class="container my-4">
      <h1>{{ product.name }}</h1>
      <img [src]="'images/' + product.imageUrl" alt="">
      <p>Brand: {{ product.brand }}</p>
      <p>Price: ${{ product.price.toFixed(2) }}</p>
      <p>Description: {{ product.description }}</p>
      
      @if (product.availability) {
        <div class="mt-3">
          <button class="btn btn-primary me-2" (click)="onAddToCart()">Add to Cart</button>
          <a routerLink="/products" class="btn btn-secondary">Back to Products</a>
        </div>
      } @else {
        <p class="text-danger">Not available</p>
        <a routerLink="/products" class="btn btn-secondary">Back to Products</a>
      }
    </div>
  } @else {
    <div class="container my-4">
      <p>Product not found</p>
      <a routerLink="/products" class="btn btn-primary">Back to Products</a>
    </div>
  }